<div
  class="col-md-12 mt-50 finbyz-fadeinup sticky-notes"
  style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0)"
>
  <div class="row">
    <div class="col-md-12 text-center">
      <h4 class="mt-2 pt-4">Bu Yazıyı Paylaşın 😇</h4>
      <div class="d-flex justify-content-center">
        <div class="social-share-wrapper d-sm-flex justify-content-center">
          <div class="social-share-block facebook">
            <a
              title="Facebookta Paylaş"
              target="_blank"
              href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{site.baseurl}}{{page.url}}&title={{page.title}}"
            >
              <div class="social-share-icon-block">
                <img
                  src="/public/svg/facebook.svg"
                  title="facebook.com/toluyagyucel"
                  alt="facebook.com/toluyagyucel"
                />
                <span class="share-text">Paylaş</span>
              </div>
            </a>
          </div>
          <div class="social-share-block twitter">
            <a
              title="Twitterde Paylaş"
              target="_blank"
              href="https://twitter.com/share?url={{site.url}}{{site.baseurl}}{{page.url}}&text={{page.title}}"
            >
              <div class="social-share-icon-block">
                <img
                  src="/public/svg/twitter.svg"
                  alt="Twitter/Friday13Jv"
                  title="Twitter/Friday13Jv"
                />
                <span class="share-text">Tweet</span>
              </div>
            </a>
          </div>
          <div class="social-share-block pinterest">
            <a
              title="Pinterestte Paylaş"
              target="_blank"
              href="https://pinterest.com/pin/create/button/?url={{site.url}}{{site.baseurl}}{{page.url}}"
            >
              <div class="social-share-icon-block">
                <img
                  src="/public/svg/pinterest.svg"
                  alt="Pinterest/bunediobu"
                  title="Pinterest/bunediobu"
                />
                <span class="share-text">Pin</span>
              </div>
            </a>
          </div>
          <div class="social-share-block linkedin">
            <a
              title="Share on LinkedIn"
              target="_blank"
              href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{site.url}}{{site.baseurl}}{{page.url}}"
            >
              <div class="social-share-icon-block">
                <img
                  src="/public/svg/linkedin.svg"
                  alt="linkedin/finbyz"
                  title="linkedin/finbyz"
                />
                <span class="share-text">Paylaş</span>
              </div>
            </a>
          </div>

          <div class="social-share-block email">
            <a
              title="Email ile Paylaş"
              href="mailto:?subject={{page.title}}&body={{site.url}}{{site.baseurl}}{{page.url}}"
            >
              <div class="social-share-icon-block">
                <img
                  src="/public/svg/social-mail.svg"
                  alt="EMIAL/yuceltoluyag"
                  title="EMIAL/yuceltoluyag"
                />
                <span class="share-text">Email</span>
              </div>
            </a>
          </div>

          <div class="social-share-block whatsapp d-block d-sm-none">
            <a
              title="Whatsappta Paylaş"
              href="https://api.whatsapp.com/send?text={{page.title}}{{site.url}}{{site.baseurl}}{{page.url}}"
            >
              <div class="social-share-icon-block">
                <img
                  src="/public/svg/whatsapp.svg"
                  alt="Whataapp/yuceltoluyag"
                  title="Whataapp/yuceltoluyag"
                />
                <span class="share-text">Paylaş</span>
              </div>
            </a>
          </div>

          <div class="social-share-block reddit d-block d-sm-none">
            <a
              title="Redditte Paylaş"
              href="https://www.reddit.com/submit?url={{site.url}}{{site.baseurl}}{{page.url}}&title={{page.title}}"
            >
              <div class="social-share-icon-block">
                <img
                  src="/public/svg/reddit.svg"
                  alt="Reddit/yuceltoluyag"
                  title="Reddit/yuceltoluyag"
                />
                <span class="share-text">Paylaş</span>
              </div>
            </a>
          </div>

          <div class="social-share-block tumblr d-block d-sm-none">
            <a
              title="Tumblrda Paylaş"
              href="https://tumblr.com/share/link?url={{site.url}}{{site.baseurl}}{{page.url}}"
            >
              <div class="social-share-icon-block">
                <img
                  src="/public/svg/tumblr.svg"
                  alt="Tumblr/yuceltoluyag"
                  title="Tumblr/yuceltoluyag"
                />
                <span class="share-text">Paylaş</span>
              </div>
            </a>
          </div>

          <div class="social-share-block pocket d-block d-sm-none">
            <a
              title="Pockette Paylaş"
              href="https://getpocket.com/save?url={{site.url}}{{site.baseurl}}{{page.url}}"
            >
              <div class="social-share-icon-block">
                <img
                  src="/public/svg/pocket.svg"
                  alt="pocket/yuceltoluyag"
                  title="pocket/yuceltoluyag"
                />
                <span class="share-text">Paylaş</span>
              </div>
            </a>
          </div>

          <div class="social-share-block vk d-block d-sm-none">
            <a
              title="VK Paylaş"
              href="https://vk.com/share.php?url={{site.url}}{{site.baseurl}}{{page.url}}"
            >
              <div class="social-share-icon-block">
                <img
                  src="/public/svg/vk.svg"
                  alt="vk/yuceltoluyag"
                  title="vk/yuceltoluyag"
                />
                <span class="share-text">Paylaş</span>
              </div>
            </a>
          </div>

          <div class="social-share-block telegram d-block d-sm-none">
            <a
              title="Telegramda Paylaş"
              href="https://t.me/share/url?url={{site.url}}{{site.baseurl}}{{page.url}}"
            >
              <div class="social-share-icon-block">
                <img
                  src="/public/svg/telegram.svg"
                  alt="telegram/adamcoder"
                  title="telegram/adamcoder"
                />
                <span class="share-text">Paylaş</span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
